.catalog {
  .breadcrumb {
    margin-bottom: 18px;
  }
}

.cat-text-wrapper {
  height: 212px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 20px;
  background: #fff url(../images/cat-beresta.jpg) center center no-repeat;
}

.cat-text {
  margin: 25px 0;
  font-family:'Conv_CYRIL',Sans-Serif;
  font-size: 1.28em;


  @include md-desktops {
    font-size: 1em;
  }

  @include phones {
    margin: 0;
  }

}


.cat-btn {
  display: block;
  border: 1px solid #000;
  text-align: left;
  margin-bottom: 20px;
  color: #000;
  text-transform: uppercase;
  padding: 6px 25px;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: #bfbfbf;
  }

  @include xs-tablets {
    padding: 6px 12px;
    margin-bottom: 10px;
  }

  @include phones {
    padding: 6px;
    font-size: 0.6em;
  }


}

.price-link-image {
  margin-bottom: 18px;
  transition: all 0.2s ease-in-out;

  a {
    display: block;
  }

  &--left {
    margin-right: -15px;
  }

  &--right {
    margin-left: -15px;
  }

  img {
    position: relative;
    z-index: -1;
  }

  &:hover {
    box-shadow: 0 0 20px;
  }

  @include xs-tablets {
    margin: 0;
  }

}
