.catalog {
  margin-left: 0;
  margin-right: 0;
}


.cat-content {
  padding-right: 30px;
  padding-left: 30px;
}

.cat-text-wrapper {
  height: 212px;
  padding: 60px 10px 50px 30px;
  margin-bottom: 20px;
  background: #fff url(../images/cat-beresta.jpg) center center no-repeat;
  background-size: contain;

  @include xs-tablets {
    background-size: cover;
    padding-top: 45px;
  }

  @include phones {
    padding-top: 25px;
  }

}

.cat-text {
  margin-bottom: 15px;
  font-family:'Conv_CYRIL',Sans-Serif;
  font-size: 1.28em;


  @include md-desktops {
    font-size: 1em;
  }

  @include phones {
    margin: 0;
  }

}


.cat-btn {
  display: block;
  border: 1px solid #000;
  text-align: left;
  margin-bottom: 20px;
  color: #000;
  text-transform: uppercase;
  padding: 6px 25px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #bfbfbf;
  }

  @include xs-tablets {
    padding: 6px 12px;
    margin-bottom: 10px;
  }

  @include phones {
    padding: 6px;
    font-size: 0.6em;
  }


}

.price-link-image {
  margin-bottom: 18px;
  transition: all 0.2s ease-in-out;
  padding: 0;

  a {
    display: block;
    line-height: 1;
  }

  img {
    position: relative;
    z-index: -1;
  }

  &:hover {
    box-shadow: 0 0 20px;
  }

  @include xs-tablets {
    margin: 0;
  }

}

.price-link-image img {
  @include xs-tablets {
    width:  100% !important;
  }
}
