.contacts-place {
  margin-top: 10px;

}


.place-fields {
  font-size: 0.85em;
  padding-left: 35px;

  &>div {
    margin-bottom: 15px;
  }

  p {
    margin: 0;
  }
}


.place-title {
  font-size: 1.69em;
}


#map {
  height: 392px;
  box-shadow: 0 0 12px;
}


.order-title {
  font-size: 1.74em;
  margin: 45px 0;
}

.order-form {
  input, textarea {
    display: block !important;
    margin-bottom: 12px;
    width: 100%;
    line-height: 35px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cccccc;
    padding-left: 15px;


    &:focus {
      border-color: #000000;
    }
  }

  input[type="submit"] {
    margin: 8px 0;
    background-color: #8b8b8b;
    color: #fff;
    width: 165px;
    float: right;

    &:hover {
      background-color: darken(#8b8b8b, 10%);
    }
  }
}


.order-postbox {
  text-align: right;
  overflow: hidden;
}

.icon-postbox {
  margin-top: 95px;
}


//modal

.modal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  right: auto;
}

.modal-content {
  color: #000;
  text-align: center;
  padding-bottom: 20px;
  background-size: cover;
  background: #fff url(../images/modal-bg.jpg) 0 0 no-repeat;

  @include xs-tablets {
    background-image: none;
  }
}

.custom-mod-title {
  font-size: 1.68em;
  margin-top: 25px;
  text-transform: uppercase;
}


.modal-logo {
  height: 95px;
  width: 140px;
  margin: 0 auto 35px;
}

.modal-subtitle {
  font-size: 1.15em;
}

.modal-text {
  font-family:'Conv_CYRIL',Sans-Serif;
  margin-bottom: 15px;
  margin-top: 110px;
}

.modal-dialog {
  position: relative;
}

.custom-close {
  position: absolute;
  top: -30px;
  right: 10px;
  opacity: 1;
  color: #fff;
  text-shadow: none;
}
