//footer

.footer {
  background-color: #2d2d2d;
  color: #ffffff;
  font-family: 'PT Serif Caption', serif;
}

.footer-container {
  margin-bottom: 20px;
}

.footer-menu {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 1);
  @include xs-tablets {
    display: none !important;
  }
}

.navbar-footer {

  line-height: 70px;
  text-transform: uppercase;
  position: relative;
  margin: 0 -15px 0 -15px;
  font-size: 0;

  li {
    width: 200px;
    line-height: 70px;
  }

  @media all and (max-width: 1250px) {
    li {
      width: 180px;
    }
  }

  @include md-desktops {
    li {
      width: 145px;
    }
  }
}

.navbar-footer li a {
  padding: 0;
  color: #ffffff;
  font-size: 14px;

  &:hover {
    color: #afafaf;
    background-color: transparent;
  }
  &:focus {
    color: #afafaf;
    background-color: transparent;
  }
  &.active {
    color: #ff0025!important;
    background-color: transparent;
  }
  @include md-desktops {
    font-size: 0.8em;
  }
}

.navbar-footer li.active {
  a:focus {
    background-color: transparent;
  }
  a:hover {
    background-color: transparent;
  }

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.3+0,0+5,0+95,0.3+100 */
  background: -moz-linear-gradient(left,  rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 5%, rgba(255,255,255,0) 95%, rgba(255,255,255,0.3) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 5%,rgba(255,255,255,0) 95%,rgba(255,255,255,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 5%,rgba(255,255,255,0) 95%,rgba(255,255,255,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#4dffffff',GradientType=1 ); /* IE6-9 */

}

@include xs-tablets() {
  .navbar-footer {
    line-height: 40px;
  }
}

.navbar-footer li:after  {
  content: '';
  display: block;
  background-image: url(../images/sprite.png);
  background-position: -231px -164px;
  width: 1px;
  height: 70px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.navbar-footer li:first-child:before {
  content: '';
  display: block;
  background-image: url(../images/sprite.png);
  background-position: -231px -164px;
  width: 1px;
  height: 70px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer-bottom {
  padding-top: 40px;

  &__name {
    text-align: center;
    line-height: 40px;
    font-family: 'Conv_CYRIL';
    font-size: 1.71em;
  }

  &__phones {
    text-align: right;
    @include xs-tablets {
      text-align: center;
    }
  }

  @include xs-tablets {
    text-align: center;
    padding-top: 20px;
  }
}

.arrow-up {
  text-transform: uppercase;
  color: #2d2d2d;
  position: fixed;
  bottom: 207px;
  right: 15px;
  text-align: center;
  z-index: 999;
  opacity: 0.7;
  display: none;

  &:hover {
    text-decoration: none;
    color: inherit;
    opacity: 1;
  }

  .icon {
    display: block;
  }
}

@include md-desktops() {
  .arrow-up {
    right: 0;
  }
}
