// header


.header-banner {
  background: #fff url(../images/banner-header.jpg) right center no-repeat;
  height: 357px;
  position: relative;
}

.top-header {
  margin-top: 25px;
  font-size: 1.28em;
  font-family: 'PT Serif Caption', serif;

  &__logo {
    text-align: center;
    margin-top: 10px;
  }

  &__phones {
    text-align: right;
  }
}

.top-header__logo img {
  width: auto;
}

.header-title {
  font-family:'Conv_CYRIL',Sans-Serif;
  font-size: 2.57em;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 69px;
  text-transform: uppercase;
}


// menu

.navbar-custom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 82px;
  border: none;
  margin-bottom: 0;
  background-color: rgba(#f8f8f8, 0.5);
  line-height: 82px;
  border-radius: unset;

  @include down-shadow();
}


.navbar-header {
  float: none;
  text-align: center;
  text-transform: uppercase;
}

.navbar-header li {
  float: none;
  display: inline-block;
  border-left: 1px solid #000000;

  &:last-child {
    border-right: 1px solid #000000;
  }
}

.navbar-header > li > a {
  padding: 10px 56px;
  color: #000000;
  font-size: 1.4em;
  font-family: 'PT Serif Caption', serif;
  display: inline-block;

  &:hover {
    color: #ff0025;
    background-color: transparent;
  }
  &:focus {
    background-color: transparent;
  }
  &:active {
    color: #ff0025;
    background-color: transparent;
  }

  @media all and (max-width: 1200px) {
    padding: 10px 26px;
  }
}
