// price

.price__head {
  line-height: 70px;
}

.price__title {
  text-transform: uppercase;
  font-size: 18px;
}


.link-pdf {
  text-align: right;
  a {
    color: red;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

}

.icon-pdf {
  margin-right: 0;
  margin-left: 4px;
}




.breadcrumb {
    margin-top: 15px;
    margin-bottom: 0;
    border: 1px solid #ddd;
    background-color: #efefef;
    padding: 8px 0;


    li {
      text-shadow: 0 1px 0 #FFF;
      padding: 0 20px;
      position: relative;
      white-space: nowrap;

      a {
        text-transform: uppercase;
        color: #000000;
        &:hover {
          text-decoration: none;
          color: red;
        }
      }
    }
}

.breadcrumb li:after {
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  right: -5px;
  width: 26px;
  height: 26px;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  transform: rotate(-45deg);
}


.breadcrumb>li+li:before {
    content: '';
    padding: 0;
}



//accordeon

.accordeon__inner {
  display: none;
}

.trigger-head {
  // background-color: #ececec;
  border: 1px solid #000000;
  position: relative;

  &:after {
    content: "";
    display: block;
    background-image: url(../images/sprite.png);
    background-position: -274px -138px;
    width: 8px;
    height: 16px;
    position: absolute;
    right: 48px;
    top: 50%;
    margin-top: -8px;
  }
}

.trigger-head__button {
  margin-left: 40px;
  border-left: 1px solid #000;

  a {
    color: inherit;
    text-decoration: none;
    text-align: center;
    margin-left: 40px;
  }
}


.icon-price-black:after {
  content: "каталог";
  font-size: 0.5em;
  margin-left: -2px;
}

.arrow-active:after {
  background-image: url(../images/sprite.png)!important;
  background-position: -242px -156px;
  width: 15px;
  height: 8px;
}

.accordeon__item {
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  margin-right: 0;
  margin-left: 0;
}

.accordeon__trigger, .accordeon-header  {
  font-size: 1.26em;
  color: inherit;
  width: 100%;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.trigger-head__button {
  position: absolute;
  right: 0;
  bottom: 0;
}

.accordeon-header {
  line-height: 60px;
  text-align: center;
  border: 1px solid #000000;
  position: relative;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#969696+0,e0e0e0+50,969696+100 */
  background: rgb(150,150,150); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(150,150,150,1) 0%, rgba(224,224,224,1) 50%, rgba(150,150,150,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(150,150,150,1) 0%,rgba(224,224,224,1) 50%,rgba(150,150,150,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(150,150,150,1) 0%,rgba(224,224,224,1) 50%,rgba(150,150,150,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#969696',GradientType=0 ); /* IE6-9 */
}

.accordeon-header.active {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#860000+0,ff0000+50,860000+100 */
  background: rgb(134,0,0); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(134,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(134,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(134,0,0,1) 0%,rgba(255,0,0,1) 50%,rgba(134,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(134,0,0,1) 0%,rgba(255,0,0,1) 50%,rgba(134,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#860000', endColorstr='#860000',GradientType=0 ); /* IE6-9 */
}


.table {
    background-color: rgba(255, 79, 0, 0.4);

    thead>tr>td {
      vertical-align: middle;
      padding: 5px 10px;
    }
}



