// price

.price__head {
  line-height: 70px;

  @include phones {
    line-height: 40px;
  }
}

.price__title {
  text-transform: uppercase;
  font-size: 18px;
}


.link-pdf {
  text-align: right;
  a {
    color: red;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

}

.icon-pdf {
  margin-right: 0;
  margin-left: 4px;
}


.price {

 .breadcrumb {
   margin-bottom: 0;
 }

}


.breadcrumb {
    margin-top: 15px;
    border: 1px solid #ddd;
    background-color: #efefef;
    padding: 8px 0;


    li {
      text-shadow: 0 1px 0 #FFF;
      padding: 0 20px;
      position: relative;
      white-space: nowrap;

      a {
        text-transform: uppercase;
        color: #000000;
        &:hover {
          text-decoration: none;
          color: red;
        }
      }
    }
}

.breadcrumb li:after {
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  right: -5px;
  width: 26px;
  height: 26px;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  transform: rotate(-45deg);
}


.breadcrumb>li+li:before {
    content: '';
    padding: 0;
}



//accordeon

.accordeon__inner {
  display: none;
}

.accordeon__trigger {
  border: 1px solid #7b7b7b;
  position: relative;
  display: block;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: #e0e0e0;
  }

  &:focus {
    color: red;
  }

  &:after {
    content: "";
    display: block;
    background-image: url(../images/sprite.png);
    background-position: -359px -59px;
    width: 8px;
    height: 16px;
    position: absolute;
    right: 48px;
    top: 50%;
    margin-top: -8px;


    @include phones {
      right: 15px;
    }
  }
}

.trigger-head__button {
  border-left: 1px solid #000;

  @include phones {
    margin-left: 10px;
  }

  a {
    color: inherit;
    text-decoration: none;
    display: block;
    position: relative;
    height: 60px;
    width: 80px;
    font-size: 0.6em;

    @include phones {
      margin-left: 10px;
    }
  }
}

.icon-price-black {
  font-size: 0.6em;
  padding-top: 5px;

  @include phones {
    margin-right: 10px;
  }
}

.arrow-active:after {
  background-image: url(../images/sprite.png);
  background-position: -312px -112px;
  width: 15px;
  height: 8px;
}

.accordeon__item {
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  margin-right: 0;
  margin-left: 0;
}

.accordeon__trigger, .accordeon-header  {
  font-size: 1.26em;
  color: inherit;
  width: 100%;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.trigger-head__button {
  position: absolute;
  right: 0;
  bottom: 0;

  &:hover {
    color: red;
    text-decoration: underline;
  }
}

.accordeon-header {
  line-height: 60px;
  text-align: center;
  border: 1px solid #000000;
  position: relative;

  @include phones {
    font-size: 1.1em;
    text-align: left;
    padding-left: 1em;
  }

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#969696+0,e0e0e0+50,969696+100 */
  background: rgb(150,150,150); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(150,150,150,1) 0%, rgba(224,224,224,1) 50%, rgba(150,150,150,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(150,150,150,1) 0%,rgba(224,224,224,1) 50%,rgba(150,150,150,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(150,150,150,1) 0%,rgba(224,224,224,1) 50%,rgba(150,150,150,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#969696',GradientType=0 ); /* IE6-9 */
}

.accordeon-header.active {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#860000+0,ff0000+50,860000+100 */
  background: rgb(134,0,0); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(134,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(134,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(134,0,0,1) 0%,rgba(255,0,0,1) 50%,rgba(134,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(134,0,0,1) 0%,rgba(255,0,0,1) 50%,rgba(134,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#860000', endColorstr='#860000',GradientType=0 ); /* IE6-9 */
}


.table {
    background-color: #dadada;

    thead>tr>td {
      vertical-align: middle;
    }
}

.row0, .row1 {
  font-weight: bold;
}


thead {
  background-color: #a6a6a6;
}

td, th {
  border: 1px solid #6b6b6b !important;
}



