.special__banner {
  margin-top: 55px;
  margin-bottom: 25px;
  img {
    position: relative;
  }

  @include phones {
    margin-bottom: 150px;
  }

}

.special__title {
  font-family:'Conv_CYRIL',Sans-Serif;
  font-size: 2.14em;
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 100;

  @include phones {
    font-size: 1em;
  }
}

.special__buttons {
  position: absolute;
  bottom: 0;
  right: 15px;

  @include phones {
    left: 15px;
    top: 100%;
    right: auto;
  }

  .icon-price-black{
    margin-right: 5px;
  }
}
