<!DOCTYPE html>
<html lang="en">
  @@include('blocks/head.html')
  <body>
    <a href="#" class="arrow-up"><i class="icon icon-arr-up"></i>наверх</a>
    @@include('blocks/header.html')
    <div class="container main-content">
      <div class="row">
        <div class="col-sm-6 cat-link-image">
          <a href="price.html#hleb"><img src="images/hleb-main.jpg" alt="птд"></a>
        </div>
        <div class="col-sm-6 cat-link-image">
          <a href="price.html#hleb"><img src="images/cond-main.jpg" alt="птд"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 main-content__banner">
          <div class="row">
            <div class="col-sm-12 main-content__title"></div>
          </div>
          <div class="row">
            <div class="col-sm-6">
             <a href="#"><div class="plant-link-image plant-link-image--left"></div></a>
            </div>
            <div class="col-sm-6">
              <a href="#"><div class="plant-link-image plant-link-image--right"></div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    @@include('blocks/footer.html')
  </body>

</html>
