<head>
    <meta charset="utf-8">
    <base href="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Петербургский торговый дом</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,400,300&subset=latin,cyrillic'>
    <link href="css/vendor.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- <script src="catalog/view/theme/styletour/js/modernizr.custom.17475.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="scripts/vendor.js"></script>
    <script src="scripts/scripts.js"></script>
</head>
