<div class="container-fluid header-banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 top-header">
        <div class="row">
          <div class="top-header__contacts col-sm-4 col-xs-12">
            <div class="top-header__addr"><i class="icon icon-map-h"></i>Пискаревский пр., 63</div>
            <div class="top-header__email"><i class="icon icon-mail-h"></i>ptd@fgr.ru</div>
          </div>
          <a href="index.html" class="top-header__logo col-sm-4  col-xs-12">
            <img src="images/logo.png" alt="птд">
          </a>
          <div class="top-header__phones col-sm-4"><i class="icon icon-tel-h"></i>+7 <span class="red-empasis">(812)</span> 575-99-45
        </div>
        </div>
      </div>
    </div>
    <div class="row header-title">
      <div class="col-sm-10 col-sm-offset-1">Петербургский торговый дом</div>
    </div>
  </div>
  <nav class="navbar navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse collapse-custom" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-header">
          <li><a id="index" href="index.html">главная</a></li>
          <li><a href="catalog.html" id="catalog">каталог</a></li>
          <li><a href="price.html" id="price">прайс-лист</a></li>
          <li><a href="special.html">спецпредложения</a></li>
          <li><a href="contacts.html">контакты</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div> <!--/.container-fluid -->
  </nav>
</div><!-- container-fluid -->




