<div class="container-fluid header-banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 top-header">
        <div class="row">
          <div class="top-header__contacts col-sm-4">
            <div class="top-header__addr"><i class="icon icon-map-h"></i>Пискаревский пр., 63</div>
            <div class="top-header__email"><i class="icon icon-mail-h"></i>ptd@fgr.ru</div>
          </div>
          <div class="top-header__logo col-sm-4">
            <img src="images/logo.png" alt="птд">
          </div>
          <div class="top-header__phones col-sm-4"><i class="icon icon-tel-h"></i>+7 (921) 575-99-45
        </div>
        </div>
      </div>
    </div>
    <div class="row header-title">
      <div class="col-sm-10 col-sm-offset-1">Петербургский торговый дом</div>
    </div>
  </div>
  <div class="row">

    <nav class="navbar navbar-custom">
      <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-header">
            <li><a href="index.html" class="active">главная</a></li>
            <li><a href="catalog.html">каталог</a></li>
            <li><a href="price.html">прайс-лист</a></li>
            <li><a href="special.html">спецпредложения</a></li>
            <li><a href="contacts.html">контакты</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
      </nav>

  </div>
</div>


